<script setup lang="ts">
import FancyButton from "@/components/FancyButton.vue";
import { mdiHandHeart, mdiHammer } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col
        ><FancyButton
          ><v-icon :icon="mdiHandHeart" />Love Me? or lie
          <template v-slot:tail>Tail</template>
        </FancyButton>
      </v-col>
      <v-col
        ><FancyButton
          ><v-icon :icon="mdiHammer" />Click Me? Oh don't hit me<template #tail
            >Not Tail</template
          ></FancyButton
        >
      </v-col>
    </v-row>
  </v-container>
</template>
