<script setup lang="ts">
import ProfilesImagePop from "@/components/ProfilesImagePop.vue";
import { mdiFacebook, mdiTwitter, mdiInstagram, mdiPhone } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row
      ><v-col> <ProfilesImagePop></ProfilesImagePop> </v-col>
      <v-col>
        <tr>
          Name: Pisit
        </tr>
        <tr>
          Surename: Karawong
        </tr>
        <tr>
          Education: 3rd year student, Burapha University
        </tr>
        <tr>
          Interested: Cute Girl
        </tr>
        <tr>
          Date of Birth: 28 June 2001
        </tr>
        <tr>
          Age: 21
        </tr>
        <tr>
          Weight: 67
        </tr>
        <tr>
          Height: 175
        </tr>
        <tr>
          Hobby: Sleep
        </tr>
        <tr>
          Telephone Number: 0616082365
        </tr></v-col
      ></v-row
    >
    <v-row><v-col> </v-col><v-col></v-col></v-row>
    <v-table
      ><thead>
        <tr>
          <th>Rank</th>
          <th>Ability</th>
          <th>Level(10)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Sleep</td>
          <td>10</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Talk a lot</td>
          <td>9</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Useless</td>
          <td>8</td>
        </tr>
      </tbody>
    </v-table>

    <v-footer dark padless>
      <v-card class="flex" flat tile>
        <v-card-title class="teal">
          <strong class="subheading">Contact</strong><br />
          <v-spacer></v-spacer>
          <v-btn><v-icon :icon="mdiFacebook" />Facebook </v-btn>
          <v-btn><v-icon :icon="mdiInstagram" />Instagram </v-btn>
          <v-btn><v-icon :icon="mdiTwitter" />Twitter </v-btn>
          <v-btn><v-icon :icon="mdiPhone" />Phone </v-btn>
        </v-card-title>
      </v-card>
    </v-footer>
  </v-container>
</template>
