<script lang="ts" setup>
import { ref } from "vue";
</script>

<template>
  <v-card class="mx-auto" max-width="300" variant="outlined">
    <v-img
      max-height="350"
      max-width="450"
      src="https://img.freepik.com/free-vector/cute-crocodile-waving-hand-cartoon-vector-icon-illustration-animal-nature-icon-concept-isolated_138676-6015.jpg?w=2000"
      cover
    ></v-img>
  </v-card>
</template>
